# Copier ce fichier en ".env" et changer les mots de passe avant le déploiement
DB_ROOT_PASS=changeme_root
DB_NAME=dcim
DB_USER=dcim
DB_PASS=changeme_db

DCIM_HTTP_USER=dcim
DCIM_HTTP_PASS=changeme_http
